
  <h1>Pokedex</h1>
  <!--  ici on aboucler nos images pour afficher unliste  -->
  @for( pokemon of pokemon_list();track pokemon.id){
     <h1>{{pokemon.name}}</h1>
     <img [src]="pokemon.picture" alt="pokemon.name"/>
     <p>Point de vie: {{pokemon.life}}</p>
  }

      









    <!--voici comment fonctionne le @if pour conditionner   -->
    <!-- @if(life() < 30){
      <button (click)="incrementLife()">+</button>
    } @if(life() > 10){
      <button (click)="decrementLife()">-</button>
    } -->
       <!-- voila comment comditionner l'affichage du bouton -->
     <!-- <button (click)="incrementLife()" [disabled] = "life() > 30 ">+</button> 
       <button (click)="decrementLife()" [disabled] = "life() <= 10 ">-</button> 
       -->